
:root {

    // Cores
    --brand-blue:#0073CE;
    --brand-light-blue: #00A5F0;
    --band-green-light: #00D7D7;
    --brand-yellow: #FFC800;

    // Escalas de Cinza
    --Grey-600: #33303E;
    --Grey-500: #4E4B59;
    --Grey-400: #5F5C6B;
    --Grey-300: #7A7786;
    --Grey-200: #C6C5CE;
    --Grey-100: #F1F0F5;
    
}